@font-face {
  font-family: 'bankgothic_md_btmedium';
  src: url('../fonts/bankgthd-webfont.woff2') format('woff2'),
       url('../fonts/bankgthd-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bankgothicregular';
  src: url('../fonts/bankgothic-regular-webfont.woff2') format('woff2'),
       url('../fonts/bankgothic-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
    font-family: 'bankgothicbold';
    src: url('../fonts/bankgothic_bold-webfont.woff2') format('woff2'),
        url('../fonts/bankgothic_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?j7izgp');
  src:  url('../fonts/icomoon.eot?j7izgp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?j7izgp') format('truetype'),
    url('../fonts/icomoon.woff?j7izgp') format('woff'),
    url('../fonts/icomoon.svg?j7izgp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-
  
  0
  
  
  030146666887788
  4hdfsaqouqwooiewu9823709237970349-43``
  gbzzzzzzxcbbnm,./[poiuytrewqasdfghjl'44;123645987]
  
  variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-license:before {
  content: "\e908";
}
.icon-bulleticon:before {
  content: "\e907";
}
.icon-feather-facebook:before {
  content: "\e901";
}
.icon-feather-linkedin:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
.icon-mail:before {
  content: "\e904";
}
.icon-location:before {
  content: "\e905";
}
.icon-fast:before {
  content: "\e906";
}
.icon-cyber-security:before {
  content: "\e900";
}
.icon-icon1:before {
  content: "\e911";
}
.icon-icon2:before {
  content: "\e912";
}
.icon-icon3:before {
  content: "\e913";
}
.icon-icon4:before {
  content: "\e914";
}
.icon-icon5:before {
  content: "\e915";
}
.icon-phone_in_talk_24px:before {
  content: "\e917";
}
.icon-laptop:before {
  content: "\e957";
}
jasl;jf;lsjioweurowejqnbn
0
+333331111
++++322